html,
body {
  height: 98%;
  border: 1 px solid #000000;
  margin: 5px;
}
.container {
  border: 1px solid #000000;
}
.blue-bg {
  background-color: #0000ff;
  color: white;
}
.vertical-tile {
  height: 32%;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.vertical-line {
  border-left: 1px solid #000000;
}
